.imgFoodBox {
  width: 400px;
  height: 400px;
  padding: 0;
  overflow: hidden;
  border-radius: 200px;
  border: 1px solid white;
  background-color: black;
  box-shadow: 0 2px 4px #333;
  cursor: pointer;
}
.imgFoodBox img {
  height: 100%;
  width: 70%;
  object-fit: cover;
}
.talent {
  margin-top: 0;
}
@media only screen and (max-width: 820px) {
  .imgFoodBox {
    margin: 0 auto;
    margin-bottom: 1rem;
    width: 200px;
    height: 200px;
    background-image: url('/Img/minisic.png');
  }
  .imgFoodBox img {
    height: 100%;
    width: 70%;
    background-size: cover;
    display: none;
  }
}

@media only screen and (max-width: 780px) {
  .imgFoodBox {
    margin: 0 auto;
    margin-bottom: 1rem;
    width: 200px;
    height: 200px;
    background-image: url('/Img/minisic.png');
  }
}
@media only screen and (max-width: 414px) {
  .imgFoodBox {
    padding: 0 auto;
    margin: 0 auto;
    margin-bottom: 1rem;
    width: 150px;
    height: 150px;
  }
}
